<header>
  <h5>
    Projects
  </h5>
</header>
<section>
  <button md-raised-button color="primary" [routerLink]="['','project','0']">NOVO PROJETO</button>
  <md-card *ngFor="let project of projects" class="project-card">
    <md-card-subtitle>{{project.motivation}}</md-card-subtitle>
    <md-card-title>{{project.name}}</md-card-title>
    <img md-card-image src="http://photos.projects-abroad.org/projects/building/building-projects-abroad.jpg">
    <md-card-content>
      <p>{{project.idea}}</p>
      <p>{{project.description}}</p>
    </md-card-content>
    <md-card-actions>
      <button md-button [routerLink]="['','project',project._id]">VIEW</button>
      <button md-button>JOIN</button>
    </md-card-actions>
  </md-card>
</section>