<header>
  <h5>
    Membros
  </h5>
</header>
<section>
  <md-card *ngFor="let user of users" class="user-card">
    <md-card-header>
      <img md-card-avatar src="https://scontent.fsdu5-1.fna.fbcdn.net/v/t1.0-1/p160x160/11880410_921768374546209_2147211908279740228_n.jpg?oh=49877b1ac2a40901d369b37ed468e51f&oe=58CB3E1B">
      <md-card-title>{{user.name}}</md-card-title>
      <md-card-subtitle>{{user.about}}</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <p>{{user.skills}}</p>
      <button md-button>CONTATAR</button>
    </md-card-content>
  </md-card>
</section>