<header>
  <h5>
     
  </h5>
</header>
<section>
  <md-card class="user-card">
    <md-card-content>
      <form [formGroup]="userForm" (ngSubmit)="submitForm(userForm)" autocomplete="off">
        <md-input formControlName="name" placeholder="Nome" [disabled]="!isEditMode"></md-input><br>
        <md-input formControlName="email" placeholder="E-mail" [disabled]="!isEditMode"></md-input><br>
        <md-textarea formControlName="about" placeholder="Sobre você" [disabled]="!isEditMode"></md-textarea><br>
        <md-input formControlName="skills" placeholder="Habilidades" [disabled]="!isEditMode"></md-input><br>
        <button md-raised-button color="primary" *ngIf="isEditMode">SALVAR</button>
        <button md-button color="primary" (click)="editForm()" *ngIf="!isEditMode && canEdit">EDITAR</button>
        <button md-button *ngIf="!isEditMode && canEdit" (click)="logout()">LOGOUT</button>
      </form>
    </md-card-content>
  </md-card>
</section>